/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 85%;
  height: 50%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.slider:before {
  position: absolute;
  content: "";
  height: 76%;
  width: 40%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

input:checked + .slider {
  background-color: rgba(3, 164, 0, 0.54);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(3, 164, 0, 0.54);
}

input:checked + .slider:before {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
