#plant-status-container {
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
}
.plant-status-item {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  margin-bottom: 2vh;

  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.plant-item-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-status-first-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2%;
}

.plant-status-second-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.plant-status-description-container {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  margin-bottom: 2vh;

  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.plant-description-title {
  margin: 2% 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-description-bar {
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
