/* Recent CSS */

#recent-header {
  margin-left: 5vw;
}

#row-selection-container {
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
}

.row-selection-item {
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  margin-bottom: 2vh;

  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(143, 165, 134, 0.15);
}

.row-selection-status {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
}
.row-selection-status p {
  margin: 0;
}

/* Animation */
.row-selection-item:hover:active {
  background-color: #7aa0b8;
}
.row-selection-item:hover:active p {
  color: white !important;
}
