#status-container {
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
}

.status-item {
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  margin-bottom: 2vh;

  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(143, 165, 134, 0.15);
}

.status-item img {
  margin: 3% 3% 3% 3%;
  padding: 3%;
  width: 10%;
}

.circle-container {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-container div {
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in 0s !important;
}
/* Label Size */
/* .circle-container div div:nth-child(3) div:nth-child(1) {
  display: none !important;
} */

/* Value Size */
/* .circle-container div div:nth-child(3) div:nth-child(2) {
  font-size: 1.75vh !important;
  margin: 0 !important;
} */
.status-item svg {
  width: 75%;
  height: auto;
}

.status-row-status {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
}
.status-row-status p {
  margin: 0;
}

/* Animation */
#plant-details-status-item img {
  transition: all 0.1s ease;
}
#plant-details-status-item:hover:active {
  background-color: #7aa0b8;
}
#plant-details-status-item:hover:active p {
  color: white !important;
}
#plant-details-status-item:hover:active img {
  display: none;
}
#plant-details-status-item:hover:active img.new-image {
  display: block;
}
#plant-details-status-item img.new-image {
  display: none;
}
